html {
    height: 100%;
}

header{
    min-width: 992px;
    margin-bottom: 42px;
}

body{
    margin: 0;
    padding-bottom: 42px;
    min-height: 100%;
    width: 100%;
    justify-content: center;
    font-family: 'Arial';
    background-image: linear-gradient(to bottom, #32C2F1, rgba(141, 222, 248, 0.5));
    background-size: cover;
    background-attachment: fixed;
}

form{
    padding: 0%;
    margin: 0%;
}

.login {
    background-image: linear-gradient(to bottom right, #32C2F1, #FFFFFF);
    height: 100vh;
}

.container{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 0%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 42px;
}

.grid-item {
    border: none;

}

.logo {
    margin-right: 32px;
}

h1{
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    margin: 0px;
    color: #FFFFFF;
}

h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0px;
    color: #FFFFFF;
}

.navbar{
    border-bottom: 2px solid #ffffff;
    padding: 25px;
}

.navbar-brand{
    flex-direction: row;
    justify-content: start;
    width: max-content;
}

.nav-item{
    margin-right: 92px;
}

.nav-link{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.nav-link:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

label{
    margin: 0%;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.login-input::placeholder,
textarea::placeholder {
    color: #9B9B9B;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.login-input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
}

.input::placeholder,
textarea::placeholder {
    text-align: center;
}

.input {
    width: 100%;
    background: #2FC6F7;
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    outline: none;
}

.input:focus::placeholder {
    color: transparent;
}

.input::placeholder,
textarea::placeholder {
    color: #FFFFFF;
}

.input[name="search"] {
    background: #2FC6F7;
    border: 1px solid #ffffff;
    border-radius: 15px;
    width: 50%;
    margin: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    text-indent: 32px;
    color: #ffffff;
}

.input[name="search"]:hover {
    background-color: #16bdf5;
}

.input[name="search"]::placeholder,
textarea::placeholder {
    text-align: left;
}

label[name="upload"] {
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 25px;
    color:#9B9B9B;
    text-align: center;
    width: 40%;
    min-height: 196px;
    padding: 30px;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
}

select {
    appearance: none;
    background: #2FC6F7 url("data:image/svg+xml,<svg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M11 18L0.607697 0L21.3923 0L11 18Z' fill='white'/></svg>") no-repeat calc(100% - 32px);
    border: none;
    border-radius: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
}

.nav-item select {
    border: 3px solid #ffffff;
}

select:hover {
    background-color: #16bdf5;
    cursor: pointer;
}

select option {
    justify-content: start;
}

button {
    background: #2FC6F7;
    border: 3px solid #ffffff;
    border-radius: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

button[type="button"]:hover  {
    background-color: #16bdf5;
    border: 3px solid #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #16bdf5;
    border: 3px solid #ffffff;
    cursor: pointer;
}


.table {
    border-collapse: collapse;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 42px;
}

.table thead tr th{
    color: #ffffff;
    font-size: 24px;
    line-height: 37px;
    font-weight: bold;
    border: none;
    background: #2FC6F7;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
}

.table tbody tr td {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
}

.table td a{
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}

.table td a:hover {
    color: #16bdf5;
    cursor: pointer;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

input[type="date"]{
    background: #2FC6F7;
    border: none;
    border-radius: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

input[type="date"]:hover {
    background-color: #16bdf5;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    z-index: 1;
}

.popup-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* #zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#messageBox {
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    color: #0000cc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}

#zatemnenie:target {
    display: block;
}

.close {
    display: inline-block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor: pointer;
}

.close:hover {
    background: #e6e6ff;
} */
